body {
}

.col0 {
    width:50px;
    min-width:100px;
    color:black;
}

.col0 a {
    break-inside: avoid;
}

.col0 a::after {
    content: " ";
}

.colId {
    width:40px;
    min-width:40px;
    padding-right:10px;
    text-align:right;
    color:black;
}

.colName {
    min-width:200px;
    color:black;
}